<!DOCTYPE html>
{%load static%}
<html>
<style>
table, th, th {
  border:1px solid black;
}
</style>
<body style = "background-image: url('{% static 'images/R.jpg' %}');"> 

<h1  style="text-align:center;" >EQUIPMENTS</h1>
<br>
<br>
<h2>DEVICE 1: </h2>
<table style="width:100%">
  <tr>
    <th>Equipment Name</th>
    <th>B2901B Precision Source/Measure Unit, 1ch,100fA Resolution,210V,3A dc/10.5A Pulse</th>
    
  </tr>
  <tr>
    <th>Short Name</th>
    <th>SMU B2901B</th>
    
  </tr>
  <tr>
    <th>Model No.</th>
    <th>B2901B</th>
    
  </tr>
<tr>
    <th>Manufacturer </th>
    <th>KEYSIGHT</th>
    
  </tr>
<tr>
    <th>Purchase Date</th>
    <th>2022-06-02</th>
    
  </tr>
<tr>
    <th>Web Link</th>
    <th><a href="https://www.keysight.com/us/en/product/B2901B/precision-smu-1ch-100fa-resolution-210v-3a-dc-10-5a-pulse.html">Web Link</a></th>
    
  </tr>
<tr>
    <th>Data Sheet</th>
    <th><a href="https://drive.google.com/file/d/1Jzyrg-Q3IVmdbq2IXMRG2aLl_TfHR8TU/view?usp=sharing">Data Sheet</a></th>
    
  </tr>
<tr>
    <th>SCPI Link</th>
    <th><a href="https://drive.google.com/file/d/1KPqTezyZ2xDLy1EO7BP1srAiDmQL284E/view?usp=sharing">SCPI Link</a></th>
    
  </tr>
</table>
<table style="width:100%">
  <tr>

<br>
<br>
<h2>DEVICE 2: </h2>
    <th>Equipment Name</th>
    <th>34470A Digital MultiMeter, 7.5 Digit, Truevolt DMM</th>
    
  </tr>
  <tr>
    <th>Short Name</th>
    <th>DMM 34470A</th>
    
  </tr>
  <tr>
    <th>Model No.</th>
    <th>32270A</th>
    
  </tr>
<tr>
    <th>Manufacturer </th>
    <th>KEYSIGHT</th>
    
  </tr>
<tr>
    <th>Purchase Date</th>
    <th>2022-04-02</th>
    
  </tr>
<tr>
    <th>Web Link</th>
    <th><a href="https://www.keysight.com/us/en/support/34470A/digital-multimeter-7-5-digit-truevolt-dmm.html">Web Link</a></th>
    
  </tr>
<tr>
    <th>Data Sheet</th>
    <th><a href="https://drive.google.com/file/d/1KVQi1GITsCYINGRTHhd--bR335zwP58d/view?usp=sharing">Data Sheet</a></th>
    
  </tr>
<tr>
    <th>SCPI Link</th>
    <th><a href="https://drive.google.com/file/d/1K_3OhuCrDZhXVxKu4DcNCVIct-YeFQ-_/view?usp=sharing">SCPI Link</a></th>
    
  </tr>
</table>


</body>
</html>

